<%- include('partials/header.ejs'); -%>

<form action="/add" method="post" autocomplete="off">
	<label>Enter Password</label>
	<input type="text" name="password" />
	<input type="submit" />
</form>

<%- include('partials/footer.ejs'); -%>